@use 'spacing';
@use 'colors';

.ticket-detail-modal {
  position: absolute;
  right: spacing.$small;
  top: spacing.$small;
  max-width: 25%;

  padding: spacing.$standard spacing.$large spacing.$large spacing.$large;
  border-radius: 10px;
  border: 1px solid colors.$PB_smoke;

  p {
    padding: spacing.$standard 0;
  }

  button {
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid colors.$PB_smoke;
    padding-bottom: spacing.$small;
  }
}