@use 'colors';
@use 'spacing';

button {
  background: colors.$PB_blue;
  color: colors.$PB_white;
  border: none;
  padding: spacing.$standard spacing.$large;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: colors.$PB_blue_dark;
  }

  &:disabled {
    background: colors.$PB_blue_light;
    opacity: .7;
    cursor: not-allowed;
  }
}

.mdc-checkbox__background {
  background-color: colors.$PB_white !important;
  border-color: colors.$PB_smoke !important;

  .mdc-checkbox__checkmark-path {
    stroke: colors.$PB_blue;
  }
}
