@use 'spacing';
@use 'font-sizes';

.controls-group {
    display: flex;
    justify-content: space-between;
    gap: spacing.$large;
}

.form-group {
  margin-bottom: spacing.$standard;
  width: 100%;

  label {
    display: block;
    margin-bottom: spacing.$small;
  }

  mat-form-field {
    width: 100%;
  }

  textarea {
    min-height: 300px;
    font-family: 'Courier New', monospace;
    font-size: font-sizes.$help-text;
  }
}

.help-text {
  font-size: font-sizes.$help-text;
  color: #6B778C;
  margin-top: spacing.$small;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  gap: spacing.$small;
}