<div class="controls-group">
    <div class="form-group">
        <mat-form-field>
            <mat-label>Project Name</mat-label>
            <input matInput required id="project-name" placeholder="Project Name" [(ngModel)]="projectName">
            <mat-hint>Your Jira project name (&lt;project&gt;.atlassian.net)</mat-hint>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput required id="email" type="email" placeholder="your.email@example.com" [(ngModel)]="email">
            <mat-hint>Your Jira account email address</mat-hint>
        </mat-form-field>
    </div>
</div>

<div class="controls-group">
    <div class="form-group">
        <mat-form-field>
            <mat-label>API Token</mat-label>
            <input
            matInput
            required
            type="password"
            id="api-token"
            [(ngModel)]="apiToken"
            placeholder="Your Jira API token">
            <mat-hint>Generate a token at: Jira Settings > Personal Access Tokens</mat-hint>
        </mat-form-field>
    </div>
    <mat-checkbox id="remember-token" [(ngModel)]="rememberToken">Remember me</mat-checkbox>
</div>

<div class="divider"></div>

<div class="form-group">
    <mat-form-field>
        <mat-label>Team(s)</mat-label>
        <mat-select id="teams" required multiple [(ngModel)]="teams">
            <mat-option value="Armadillo">Armadillo</mat-option>
            <mat-option value="Backpack">Backpack</mat-option>
            <mat-option value="AI">AI</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="controls-group">
    <div class="form-group">
        <mat-form-field>
            <mat-label>Sprint Codes</mat-label>
            <input
            matInput
            required
            type="text"
            id="sprints"
            [(ngModel)]="sprints"
            placeholder="e.g., U07 or B07,C07,D07">
            <mat-hint>Enter one or more sprint codes separated by commas</mat-hint>
        </mat-form-field>
    </div>

    <div class="form-group checkboxes-container">
        <mat-checkbox id="include-done" [(ngModel)]="includeDone">Include Done Tickets</mat-checkbox>
    </div>
</div>

<button (click)="onSubmit()" [disabled]="disableSubmit || !isFormValid()">
    Fetch & Visualize
</button>

@if (!isFormValid()) {
    @for (error of formErrors(); track error) {
        <div class="error">{{ error }}</div>
    }
}
